/* Phone version */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header button:hover{
    background: var(--gray);
}
.header button:active{
    background: var(--gray-1);
}
.header .open-add-task{
    z-index: 2;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--black);
    color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 32px;
    padding: 0px;
    border: none;
}
.header .active{
    transform: rotate(45deg);
    transition: 0.5s ease;
}
.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    width: 112px;
    height: 38px;
    font-size: 30px;
}
.delete-or-checked-all{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.delete-or-checked-all button {
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 30px;
    border: none;
    color: var(--white);
    background: var(--black);
    border-radius: 5px;
    font-size: 13px;
}
/* Phone version */
/* Tablet version */
@media(min-width: 768px){
.header .open-add-task{
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    font-size: 36px;
}
.header h1{
    margin-top: 60px;
    width: 180px;
    height: 60px;
    font-size: 48px;
}
.delete-or-checked-all{
    margin-top: 30px;
}
.delete-or-checked-all button {
    width: 140px;
    height: 40px;
    font-size: 20px;
}
}
/* Tablet version */
/* Desktop version */
@media(min-width: 1300px){
.header .open-add-task{
    display: none;
}
.header h1{
    margin-top: 45px;
    width: 300px;
    height: 80px;
    font-size: 64px;
}
.delete-or-checked-all{
    margin-top: 50px;
}
.delete-or-checked-all button {
    width: 170px;
    height: 50px;
    font-size: 24px;
}
}
/* Desktop version */
