/* Phone version */
.add-task {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--black);
  border-top: none;
  width: 100vw;
  border-radius: 0 0 15px 15px;
  height: 260px;
  background: var(--white);
  padding: 0 20px;
}
.add-task h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  font-size: 30px;
  width: 116px;
  height: 38px;
}
.add-task textarea {
  margin-top: 25px;
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid var(--black);
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.add-task button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 85px;
  height: 30px;
  background: var(--black);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 15px;
}
.add-task button:hover{
    background: var(--gray);
}
.add-task button:active{
    background: var(--gray-1);
}
/* Phone version */
/* Tablet version */
@media (min-width: 768px) {
  .add-task {
    height: 360px;
    padding: 0 30px;
  }
  .add-task h1 {
    margin-top: 60px;
    font-size: 48px;
    width: 180px;
    height: 60px;
  }
  .add-task textarea {
    height: 120px;
    padding: 25px;
    font-size: 20px;
  }
  .add-task button {
    right: 30px;
    bottom: 30px;
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
}
/* Tablet version */
/* Desktop version */
@media (min-width: 1300px) {
  .add-task {
    position: fixed;
    top: 0;
    border-top: 2px solid var(--black);
    width: 30%;
    border-radius: 15px 0 0 15px;
    height: 100vh;
    padding: 0 25px;
  }
  .add-task h1 {
    margin-top: 45px;
    font-size: 64px;
    width: 222px;
    height: 80px;
  }
  .add-task textarea {
    margin-top: 30px;
    height: 250px;
    padding: 15px;
    font-size: 32px;
  }
  .add-task button {
    margin-top: 30px;
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 50px;
    font-size: 24px;
  }
}
/* Desktop version */
